# ignore specific themes
/twenty*/

# ignore index file in the theme folder
/index.php

# ignore PHP storm files
.idea/
.idea/*

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
